{% extends "./index.html" %}
{% load static %}
{% block title %}Login | Signin{% endblock title %}Login|Signin
{% block DisplayBlog %} {% endblock %}
{% block loginModule %}
  <div class="flex justify-center items-center mt-32" style="min-height: calc(100vh - 15rem);">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full">
      {% comment %} {% if messages %}
        {% for message in messages %}
          <p class="{% if message.tags == 'error' %}text-red-500{% elif message.tags == 'success' %}text-green-500{% else %}text-gray-800{% endif %}">{{ message }}</p>
        {% endfor %}
      {% endif %} {% endcomment %}
      <h2 class="text-2xl font-bold mb-6 text-center">Login | <span class="font-bold text-green-500 text-2xl">SignIn</span></h2>
      <form action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-800">Username</label>
          <input type="text" name="username" class="w-full p-2 border border-gray-300 rounded" required />
        </div>
        <div class="mb-6">
          <label class="block text-gray-800">Password</label>
          <input type="password" name="password" class="w-full p-2 border border-gray-300 rounded" required />
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded text-sans font-bold tracking-wider hover:bg-blue-600">Login</button>
      </form>
      <p class="text-black font-bold text-sm mt-2">Don't have an account? <a href="{% url 'register' %}" class="text-blue-400 font-bold hover:text-blue-500">Register here.</a></p>
    </div>
  </div>
  
  
{% endblock %}